/* General styles */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column; /* Set flex direction to column for better centering */
  justify-content: flex-start; /* Align content to the top */
  font-family: Arial, sans-serif;
  background-image: url('./assets/tiles.jpg'); /* Relative path to assets folder */
  background-size: cover; /* Make the image cover the entire body */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Keep the background fixed during scrolling */
}

/* Header Styling */
header {
  background-color: rgba(32, 44, 44, 0.8); /* Semi-transparent header to let the background show */
  border-radius: 5px;
  color: white;
  padding: 15px 10px;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-top: 20px; /* Adds space above the header */
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: center; /* Center the content horizontally */
}

.header-logo {
  width: 30px;  /* Adjust size of the icon */
  height: 30px;
  margin-right: 10px;  /* Space between the logo and the heading */
}

#heading {
  padding: 0;
  margin: 0;
  opacity: 100%;
  color: white;
}

/* Navigation Styling */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  width: 100%;
}

nav a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  display: block;
}

nav a:hover {
  background-color: rgb(135, 172, 172);
  transform: translateY(-3px);  
  color:  rgb(32, 44, 44);
}


/* Main Content */
.container {
  padding: 20px;
  flex-grow: 1; /* Ensures content area grows to fill available space */
  margin-top: 60px; /* Ensures the container doesn't overlap the header */
}

/* Stats Section */
.stats {
  background-color: rgb(32, 44, 44, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.stats h2 {
  margin-top: 0;
}

.stat-item {
  margin-bottom: 15px;
}


/* Visual Graph Section */
#visual-graph {
  background-color: #ffffff;
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Adds some space above the graph section */
}

#visual-graph h2 {
  font-size: 24px;
  color: rgb(32, 44, 44);
  margin-bottom: 10px;
}

.graph-container {
  max-width:relative;
  margin: 0 auto;
}

